{% extends 'master.twig'%}
{% block title %}Piston | EMKC{% endblock %}
{% block content %}
    <div
        id="react_ppman"
        data-message="{{ message|json_encode|e }}"
    ></div>
{% endblock %}
