{% extends 'master.twig' %}
{% block css %}
    {{ parent() }}
    <style>
        body {
            overflow: hidden;
        }
        .em_container {
            background: #1E1E1E;
        }
    </style>
{% endblock %}
{% block bundles %}
    <script src="/lib/webpack/monaco.bundle.js?{{ sails.local.epoch }}"></script>
{% endblock %}
{% block content %}
    <div id="react_manage_snippet"></div>
{% endblock %}
