{% extends 'master.twig' %}
{% block css %}
    {{ parent() }}
    <style>
        body {
            overflow: hidden;
        }
        .em_container {
            background: #1E1E1E;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="create_snippet"></div>
    <script>
        ReactDOM.render(
            React.createElement(CreateSnippet),
            document.getElementById('create_snippet'));
    </script>
{% endblock %}
