{% extends 'master.twig'%}
{% block content %}
    <div id="snippet"></div>
    <script>
        ReactDOM.render(
            React.createElement(Snippet, {
                snip: {{ snippet.snip|json_encode }}
            }),
            document.getElementById('snippet')
        );
    </script>
{% endblock %}
