{% extends 'master.twig'%}
{% block css %}
    {{ parent() }}
    <style>
        body {
            overflow: hidden;
        }
        .em_container {
            background: #1E1E1E;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="snippet"></div>
    <script>
        ReactDOM.render(
            React.createElement(Snippet, {
                language: {{ snippet.language|json_encode }},
                snip: {{ snippet.snip|json_encode|noscript }}
            }),
            document.getElementById('snippet')
        );
    </script>
{% endblock %}
