.em_snippet_view {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;

    #editor {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        .wrapper {
            display: flex;
            background: #21252B;
            padding: 18px 18px 18px 74px;
            .language_label {
                margin-right: 10px;
            }
        }
    }
}
