.em_create_snippet {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;

    #editor {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        .wrapper {
            display: flex;
            background: #151515;
            padding: 10px 10px 10px 75px;
            >* {
                display: inline-block;
                vertical-align: middle;
            }
            .language {
                flex: 1;
                select {
                    width: 200px;
                }
            }
        }
    }
}
