{% extends 'master.twig'%}
{% block content %}
    <div class="em_wide_content">
        <div class="row">
            <div class="col-12">
                <h4 class="f300">Dashboard</h4>
                Nothing here, choose from above.
            </div>
        </div>
    </div>
{% endblock %}
