platform/config/local.js
platform/config/secrets/google_cloud.json
platform/migrations/config.json
platform/public/css/*.css
platform/public/js/*.js
var/docker/mysql/*
!var/docker/mysql/.gitkeep
var/docker/redis/*
!var/docker/redis/.gitkeep
var/docker/elasticsearch/*
!var/docker/elasticsearch/.gitkeep
var/docker/logs/*
!var/docker/logs/.gitkeep
node_modules
package-lock.json
