platform/config/local.js
platform/migrations/config.json
platform/public/css/*.css
platform/public/lib/bundle.js
platform/public/lib/bundle.css
cdn/avatars/*
!cdn/avatars/.gitkeep
var/docker/mysql/*
!var/docker/mysql/.gitkeep
var/docker/redis/*
!var/docker/redis/.gitkeep
var/docker/elasticsearch/*
!var/docker/elasticsearch/.gitkeep
var/docker/logs/*
!var/docker/logs/.gitkeep
node_modules
package-lock.json
.env
.DS_STORE
