* {
    font-family: 'Lato', sans-serif;
    color: #fff;
}

body {
    text-align: center;
    background: #171716;
}

a {
    color: #68e69e;
    &:visited,
    &:active {
        color: #68e69e;
    }
    &:hover {
        color: #32a965;
        text-decoration: none;
    }
}

.f100 {
    font-weight: 100;
}

.f300 {
    font-weight: 300;
}

.f400 {
    font-weight: 400;
}

.f700 {
    font-weight: 700;
}

.f900 {
    font-weight: 900;
}

/* quill overrides */
.ql-toolbar {
    background: #2b2b2b !important;
    border: 0 !important;
    svg {
        * {
            stroke: #fff !important;
        }
    }
    .ql-strike,
    .ql-header {
        svg * {
            fill: #fff !important;
        }
    }
    .ql-picker-label {
        &:hover {
            color: #fff !important;
        }
    }
    button {
        &:hover {
            background: #4AA571 !important;
        }
    }
}

.ql-container {
    border: 0 !important;
    border-bottom: #7b7b7b 1px solid !important;
    font-size: 14px !important;
    background: #353535 !important;
}

.ql-blank {
    &:before {
        color: #ddd !important;
        font-style: normal !important;
    }
}

.ql-editor {
    font-size: 16px;
    min-height: 200px;
    .ql-syntax {
        * {
            font-family: monospace !important;
        }
    }
}

/* bs4 overrides */
.btn-success {
    background-color: #37B86E;
    &:hover {
        background-color: #289254;
    }
}

.dropdown-menu {
    a:visited,
    a:link,
    a:hover {
        color: #333;
    }
    a:active {
        color: #fff !important;
    }
    .dropdown-item {
        &:active {
            background-color: #36b96e;
        }
    }
}

.em_container {
    display: inline-block;
    margin: auto;
    max-width: 1440px;
    width: 100%;
    text-align: left;
    background: #383838;
    min-height: 100vh;
}

.em_menu {
    display: flex;
    padding: 10px;
    background: #36B96E;
    .brand_icon {
        display: inline;
        img {
            height: 36px;
            width: auto;
        }
    }
    .main_links {
        display: inline-block;
        >* {
            display: inline-block;
            vertical-align: middle;
        }
        >a {
            background: rgb(18, 101, 54);
            color: #fff;
            margin-left: 10px;
            border-radius: 5px;
            cursor: pointer;
            padding: 5px 10px;
            &:hover {
                background: #349A60;
            }
        }
        >.dropdown {
            background: rgb(18, 101, 54);
            color: #fff;
            margin-left: 10px;
            border-radius: 5px;
            cursor: pointer;
            >a {
                padding: 5px 10px;
                display: inline-block;
            }
            &:hover {
                background: #349A60;
            }
        }
    }
    .search {
        flex: 1;
        margin-left: 10px;
        margin-right: 10px;
        input {
            width: 100%;
            border: none;
            background: #4AA571;
            outline: none;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            &::-webkit-input-placeholder {
                color:    #fff;
            }
            &:-moz-placeholder {
               color:    #fff;
               opacity:  1;
            }
            &::-moz-placeholder {
               color:    #fff;
               opacity:  1;
            }
            &:-ms-input-placeholder {
               color:    #fff;
            }
            &::-ms-input-placeholder {
               color:    #fff;
            }
            &::placeholder {
               color:    #fff;
            }
        }
    }
    .user_meta {
        * {
            vertical-align: middle;
        }
        img {
            border-radius: 50%;
            height: 36px;
            width: auto;
        }
        span {
            margin-right: 10px;
        }
    }
}

.em_question_ask {
    display: flex;
    .contents {
        flex: 1;
        .title {
            width: 100%;
            padding: 10px 5px;
            font-size: 18px;
            border: 0;
            outline: 0;
            background: #353535;
            border-bottom: #7b7b7b 1px solid;
            margin-bottom: 30px;
            &::-webkit-input-placeholder {
                color:    #ddd;
            }
            &:-moz-placeholder {
               color:    #ddd;
               opacity:  1;
            }
            &::-moz-placeholder {
               color:    #ddd;
               opacity:  1;
            }
            &:-ms-input-placeholder {
               color:    #ddd;
            }
            &::-ms-input-placeholder {
               color:    #ddd;
            }
            &::placeholder {
               color:    #ddd;
            }
        }
    }
}

.em_question {
    .scores {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        text-align: center;
        i {
            font-size: 24px;
        }
        .fa-chevron-down {
            margin-top: 4px;
        }
    }
    .content {
        position: relative;
        padding-left: 55px;
        .dropdown {
            float: right;
            cursor: pointer;
            .dropdown-toggle:after {
                display: none;
            }
        }
        .posted {
            margin-bottom: 10px;
        }
        .user {
            color: #68e69e;
        }
        .badge {
            font-size: 16px;
        }
    }
    .ql-editor {
        background: #353535;
        margin-top: 10px;
        margin-bottom: 15px;
        min-height: auto;
    }
}

.em_comments {
    padding-top: 30px;
    .comment {
        position: relative;
    }
    .scores {
        position: absolute;
        top: 10px;
        left: 6px;
        width: 40px;
        text-align: center;
        z-index: 1;
        i {
            font-size: 24px;
        }
        .fa-chevron-down {
            margin-top: 4px;
        }
    }
    .content {
        position: relative;
        padding: 8px 10px 8px 55px;
        background: #292929;
        .posted {
            margin-bottom: 4px;
        }
        .text {
            p {
                margin-bottom: 4px;
            }
        }
    }
    .nested_comments {
        padding-left: 40px;
        padding-top: 5px;
    }
}
