{% extends 'master.twig'%}
{% block content %}
    <div class="em_wide_content">
        <h4 class="f300">{{ script.title }}</h4>
        <div style="padding: 5px 10px; background: rgba(0,0,0,.5); font-family: monospace; margin-bottom: 10px;">bash <(curl -sSf {{ sails.config.base_url }}/exec/{{ script.cli_script_id }})</div>
        <div id="editor"></div>
    </div>
    <script>
        var editor = monaco.editor.create(document.getElementById('editor'), {
            theme: 'em',
            value: {{ script.content|json_encode }},
            language: 'shell',
            automaticLayout: true,
            fontSize: 16,
            readOnly: true,
            wordWrap: 'off',
            scrollBeyondLastLine: false,
            scrollbar: {
                vertical: 'hidden',
            },
            minimap: {
                enabled: false
            }
        });
        document.getElementById('editor').style.height = (editor.getModel().getLineCount() * 22) + 'px';
    </script>
{% endblock %}
