{% extends 'master.twig'%}
{% block content %}
    <div class="em_common_content container">
        <div class="row">
            <div class="col-12">
                <h4 class="f300">About Engineer Man Knowledge Center</h4>

                <p>
                    The Engineer Man Knowledge Center is a project by <a href="https://github.com/ebrian" target="_blank">Engineer Man</a>
                    and other <a href="https://github.com/engineer-man/emkc/graphs/contributors" target="_blank">collaborators</a> designed
                    to create a permanent knowledge resource for the people of Discord and the YouTube channel. The platform has drawn
                    influence from the positive parts of Stack Exchange's Q&A and community systems as well as the discussion
                    format of Reddit.
                </p>

                <p>
                    The need for a Knowledge Center came about when our Discord server was flooded with people, questions,
                    resources, ideas, and discussion. It was not practical to continue operating in that way on a service
                    that was not built for what we were using it for.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
