{% extends 'master.twig'%}
{% block content %}
    <div class="em_community_map">
        <div class="row">
            <div class="col-12 col-sm-3">
                <h6 class="f700">Knowledge Center</h6>
                <div class="link_list">
                    <a href="/community/about">About</a>
                    <a href="/community/contributing">Contributing</a>
                    <a href="/community/team">Team</a>
                </div>

                <h6 class="f700">Power System</h6>
                <div class="link_list">
                    <a href="/community/increase_influence">How to Increase Power</a>
                    <a href="/community/awards">Awards</a>
                    <a href="/community/leaderboards">Leaderboards</a>
                </div>
            </div>
            <div class="col-12 col-sm-3">
                <h6 class="f700">Language Resources</h6>
                <div class="link_list">
                    <a href="/resources/assembly">Assembly</a>
                    <a href="/resources/bash">Bash</a>
                    <a href="/resources/c">C</a>
                    <a href="/resources/cpp">C++</a>
                    <a href="/resources/go">Go</a>
                    <a href="/resources/js">JavaScript</a>
                    <a href="/resources/node">Node.js</a>
                    <a href="/resources/python">Python</a>
                </div>
            </div>
            <div class="col-12 col-sm-3">
                <h6 class="f700">Developer Resources</h6>
                <div class="link_list">
                    <a href="/developers/applications">Applications</a>
                    <a href="/developers/api">API Reference</a>
                    <a href="/developers/webhooks">Webhooks</a>
                </div>

                <h6 class="f700">Intelligence</h6>
                <div class="link_list">
                    <a href="/intelligence/data">Data Explorer</a>
                    <a href="/intelligence/stats">Statistics</a>
                </div>
            </div>
            <div class="col-12 col-sm-3">
                <h6 class="f700">Engineer Man</h6>
                <div class="link_list">
                    <a href="https://www.youtube.com/EngineerMan" target="_blank">YouTube Channel</a>
                    <a href="https://engineerman.org/discord" target="_blank">Discord Server</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
