{% extends 'master.twig'%}
{% block title %}Community Resources | EMKC{% endblock %}
{% block content %}
    <div class="em_community_map">
        <div class="row">
            <div class="col-12 col-sm-3">
                <h6 class="f700">Knowledge Center</h6>
                <div class="link_list">
                    <a href="/community/about">About</a>
                </div>
            </div>
            <div class="col-12 col-sm-3">
                <h6 class="f700">Power System</h6>
                <div class="link_list">
                    <a href="/community/power">How to Increase Power</a>
                </div>
            </div>
            <div class="col-12 col-sm-3">
                <h6 class="f700">Language Resources</h6>
                <div class="link_list">
                    <a href="https://www.reddit.com/r/engineerman" target="_blank">All</a>
                    <a href="https://www.reddit.com/r/engineerman/search/?q=assembly&restrict_sr=1">Assembly</a>
                    <a href="https://www.reddit.com/r/engineerman/search/?q=bash&restrict_sr=1">Bash</a>
                    <a href="https://www.reddit.com/r/engineerman/search/?q=c&restrict_sr=1">C</a>
                    <a href="https://www.reddit.com/r/engineerman/search/?q=cpp&restrict_sr=1">C++</a>
                    <a href="https://www.reddit.com/r/engineerman/search/?q=go&restrict_sr=1">Go</a>
                    <a href="https://www.reddit.com/r/engineerman/search/?q=javascript&restrict_sr=1">JavaScript</a>
                    <a href="https://www.reddit.com/r/engineerman/search/?q=node.js&restrict_sr=1">Node.js</a>
                    <a href="https://www.reddit.com/r/engineerman/search/?q=python&restrict_sr=1">Python</a>
                </div>
            </div>
            <div class="col-12 col-sm-3">
                <h6 class="f700">Engineer Man</h6>
                <div class="link_list">
                    <a href="https://www.youtube.com/engineerman" target="_blank">YouTube Channel</a>
                    <a href="https://engineerman.org/discord" target="_blank">Discord Server</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
