{% extends 'master.twig'%}
{% block content %}
    <div class="em_common_content em_power_system container">
        <div class="row marginbottom40">
            <div class="col-12">
                <h4 class="f300">
                    <i class="fa fa-bolt"></i>
                    Power System
                </h4>

                <p>
                    The power system is a system which measures a person's meaningful contributions to the
                    Engineer Man Community as well as recognize people for their knowledge in various regards.
                    With more power comes more recognition and privileges in the Knowledge Center,
                    recognition on Discord, moderation abilities, secret functionality, and more.
                    You can earn power by people recognizing your contributions, finishing challenges, and winning
                    official Engineer Man contests.
                </p>
            </div>
        </div>
        <div class="row marginbottom20">
            <div class="col-12">
                <h4 class="f300">
                    <i class="fa fa-rocket"></i>
                    Knowledge Community Ranks
                </h4>
            </div>
        </div>
        <div class="row marginbottom40">
            <div class="col-6 col-md-3">
                <div class="tier_circle novice">
                    <div class="wrapper">
                        <div class="tier">Novice</div>
                        <div class="score">40+</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="tier_circle hero">
                    <div class="wrapper">
                        <div class="tier">Hero</div>
                        <div class="score">300+</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="tier_circle master">
                    <div class="wrapper">
                        <div class="tier">Master</div>
                        <div class="score">2,000+</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="tier_circle legend">
                    <div class="wrapper">
                        <div class="tier">Legend</div>
                        <div class="score">10,000+</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row marginbottom10">
            <div class="col-12">
                <h4 class="f300">
                    <i class="fa fa-piggy-bank"></i>
                    How Power Is Earned
                </h4>
            </div>
        </div>
        <div class="row marginbottom20">
            <div class="col-12 col-lg-8">
                <div class="power_list">
                    <h5 class="heading">Knowledge</h5>
                    <div class="item">
                        <div>
                            Each upvote on your question(s)
                        </div>
                        <span>+1</span>
                    </div>
                    <div class="item">
                        <div>
                            Each upvote on your comment(s)
                        </div>
                        <span>+1</span>
                    </div>
                    <div class="item">
                        <div>
                            Original poster identified comment
                        </div>
                        <span>+5</span>
                    </div>

                    <h5 class="heading">Contests</h5>
                    <div class="item">
                        <div>
                            Win a beginner level contest
                        </div>
                        <span>+50</span>
                    </div>
                    <div class="item">
                        <div>
                            Win an intermediate level contest
                        </div>
                        <span>+200</span>
                    </div>
                    <div class="item">
                        <div>
                            Win an expert level contest
                        </div>
                        <span>+750</span>
                    </div>

                    <h5 class="heading">Challenges</h5>
                    <div class="item">
                        <div>
                            Finish beginner challenges
                        </div>
                        <span>+10</span>
                    </div>
                    <div class="item">
                        <div>
                            Finish intermediate challenges
                        </div>
                        <span>+20</span>
                    </div>
                    <div class="item">
                        <div>
                            Finish expert challenges
                        </div>
                        <span>+30</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
