{% extends 'master.twig'%}
{% block content %}
    <div class="em_common_content">
        <div class="row marginbottom40">
            <div class="col-12">
                <h4 class="f300">
                    Video Requests
                </h4>

                <p>
                    Below is a list of pending YouTube video requests. Upvote the ones you like the best.
                    You may vote once for each video.
                </p>

                <div id="video_requests"></div>
                <script>
                    ReactDOM.render(
                        React.createElement(VideoRequests, {
                            requests: {{ requests|json_encode|noscript }}
                        }),
                        document.getElementById('video_requests')
                    );
                </script>
            </div>
        </div>
    </div>
{% endblock %}
