{% extends 'master.twig'%}
{% block content %}
    <div class="em_language_choice">
        <div class="row marginbottom30">
            <div class="col-12 center">
                <h2 class="f300">Choose your weapon</h2>
            </div>
        </div>
        <div class="row icons">
            <div class="col-4 col-sm-3 col-md-2 offset-md-1">
                <img src="/images/lang_icons/js.svg" class="img-fluid" />
                <h3>JavaScript</h3>
            </div>
            <div class="col-4 col-sm-3 col-md-2">
                <img src="/images/lang_icons/python.svg" class="img-fluid" />
                <h3>Python</h3>
            </div>
            <div class="col-4 col-sm-3 col-md-2">
                <img src="/images/lang_icons/ruby.svg" class="img-fluid" />
                <h3>Ruby</h3>
            </div>
            <div class="col-4 col-sm-3 col-md-2">
                <img src="/images/lang_icons/go.svg" class="img-fluid" />
                <h3>Go</h3>
            </div>
            <div class="col-4 col-sm-3 col-md-2">
                <img src="/images/lang_icons/c.svg" class="img-fluid" />
                <h3>C</h3>
            </div>
            <div class="col-4 col-sm-3 col-md-2 offset-md-1">
                <img src="/images/lang_icons/cpp.svg" class="img-fluid" />
                <h3>C++</h3>
            </div>
            <div class="col-4 col-sm-3 col-md-2">
                <img src="/images/lang_icons/cs.svg" class="img-fluid" />
                <h3>C#</h3>
            </div>
            <div class="col-4 col-sm-3 col-md-2">
                <img src="/images/lang_icons/php.svg" class="img-fluid" />
                <h3>PHP</h3>
            </div>
            <div class="col-4 col-sm-3 col-md-2 offset-sm-3 offset-md-0">
                <img src="/images/lang_icons/swift.svg" class="img-fluid" />
                <h3>Swift</h3>
            </div>
            <div class="col-4 col-sm-3 col-md-2 offset-4 offset-sm-0">
                <img src="/images/lang_icons/java.svg" class="img-fluid" />
                <h3>Java</h3>
            </div>
        </div>
    </div>
{% endblock %}
