{% extends 'master.twig'%}
{% block content %}
    <div class="em_challenges_list">
        <div class="row">
            <div class="col-12 col-sm-4">
                <h3 class="f300">Novice</h3>
                <div class="challenge_list">
                    <a href="">Reverse a String</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
