{% extends 'master.twig' %}
{% block content %}
    <div style="text-align: center; padding: 60px 15px;">
        <img src="/images/404.png" style="max-width: 384px; width: 100%; height: auto;" />
    </div>
{% endblock %}
