{% extends 'master.twig'%}
{% block title %}Privacy Policy | EMKC{% endblock %}
{% block content %}
    <div class="em_common_content em_power_system container">
        <div class="row marginbottom40">
            <div class="col-12">
                <h3>Privacy Policy</h3>
                <p>This privacy notice tells you about the information we collect from you when you use our website. </p>
                <h4 class="f300">Who are we?</h4>
                <p>EMKC is operated by EngineerMan. You can contact us by email at <a href="mailto:em@engineerman.org">em@engineerman.org</a>. </p>
                <p>We are not required to have a data protection officer, so any enquiries about our use of your personal data should be addressed to the contact details above.</p>
                <h4 class="f300">How we use your information</h4>
                <p>Certain visitors to our websites choose to interact with EMKC in ways that require EMKC to gather personally-identifying information. The amount and type of information that EMKC gathers depends on the nature of the interaction. For example, when you log in to EMKC using Discord, Discord will transmit your email address. In this case, EMKC collects such information in order to fulfill the purpose of the visitor’s interaction with EMKC.</p>
                <p>Like most website operators, EMKC collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Our purpose in collecting non-personally identifying information is to better understand how our visitors use the website.</p>
                <p>Your information is stored on our website and on our cloud servers, both of which are based within the United States.</p>
                <p>We keep your user information for as long as you have a user account with us.</p>
                <p>A visitor's IP address may be logged within our system, typically for debugging purposes, separate from our system application databases. The IP address may remain stored within our logs for up to 3 months.</p>
                <h4 class="f300">Account deletion</h4>
                <p>You may decide to delete your account at any time. You can do so by sending an email to the contact information provided above.</p>
                <h4 class="f300">Cookies</h4>
                <p>When you use our website to browse our content and view the information we make available, cookies are used by us to allow the website to function.</p>
                <p>The cookies we use are strictly necessary for our website to function. EMKC visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using our websites, with the drawback that certain features of our websites may not function properly without the aid of cookies.</p>
                <h4 class="f300">Information Protection</h4>
                <p>EMKC takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information</p>
                <h4 class="f300">Your rights as a data subject</h4>
                <p>You can ask us what information we hold about you, and you can ask us to correct it if it is inaccurate. If we have asked for your consent to process your personal data, you may withdraw that consent at any time.</p>
                <p>To submit a request regarding your personal data, please use the contact information provided above in the Who Are We section of this policy.</p>
                <p>This policy was last updated on February 25th 2019.</p>
            </div>
        </div>
    </div>
{% endblock %}
