.em_comments {
    .comment {
        position: relative;
    }
    .scores {
        position: absolute;
        top: 10px;
        left: 6px;
        width: 40px;
        text-align: center;
        z-index: 1;
        i {
            font-size: 24px;
        }
        .fa-chevron-up {
            cursor: pointer;
            &:hover,
            &.active {
                color: #36B96E;
            }
        }
        .fa-chevron-down {
            cursor: pointer;
            margin-top: 4px;
            &:hover,
            &.active {
                color: #B93641;
            }
        }
    }
    .content {
        position: relative;
        padding: 8px 10px 8px 55px;
        background: #292929;
        .posted {
            margin-bottom: 4px;
            img {
                width: 18px;
                height: 18px;
                vertical-align: middle;
                border-radius: 50%;
                margin-right: 5px;
            }
            a {
                margin-right: 5px;
            }
        }
        .text {
            p {
                margin-bottom: 4px;
            }
        }
        >.ql-editor {
            min-height: auto !important;
            padding: 5px 5px 5px 0;
        }
    }
    .nested_comments {
        padding-left: 40px;
        padding-top: 5px;
    }
}
