.em_main_board {
    .question {
        display: flex;
        padding: 15px;
        background: #333232;
        margin-bottom: 10px;
    }
    .score_box {
        width: 70px;
        text-align: center;
        margin-right: 10px;
        >div {
            background: #444;
        }
        .score {
            font-size: 20px;
            font-weight: 700;
        }
    }
    .views_box {
        width: 70px;
        text-align: center;
        >div {
            background: #444;
        }
        .views {
            font-size: 20px;
            font-weight: 700;
        }
    }
    .content {
        flex: 1;
        padding: 0 20px;
    }
    .posted {
        img {
            width: 26px;
            height: 26px;
            vertical-align: middle;
            border-radius: 50%;
            margin-right: 5px;
        }
        a {
            margin-right: 5px;
        }
    }
    .tag_list {
        padding: 10px 0;
        margin-bottom: 5px;
        .badge {
            font-size: 14px;
            margin-right: 10px;
        }
    }
}
