.em_main_board {
    .question {
        display: flex;
        padding: 15px;
        background: #333232;
        margin-bottom: 10px;
    }
    .stat_box {
        width: 130px;
        text-align: center;
        margin-right: 10px;
        font-size: 12px;
        >div {
            display: inline-block;
            padding: 5px 10px;
            background: #444;
            margin-bottom: 10px;
        }
        >div:first-child {
            margin-right: 10px;
        }
        .score, .views, .comments {
            font-size: 20px;
            font-weight: 700;
        }
    }
    .content {
        flex: 1;
        padding: 0 5px;
    }
    .posted {
        img {
            width: 26px;
            height: 26px;
            vertical-align: middle;
            border-radius: 50%;
            margin-right: 5px;
        }
        a {
            margin-right: 5px;
        }
    }
    .tag_list {
        padding: 10px 0;
        margin-bottom: 5px;
        .badge {
            font-size: 14px;
            margin-right: 10px;
        }
    }
}
