.em_question {
    .scores {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        text-align: center;
        z-index: 1;
        i {
            font-size: 24px;
        }
        .fa-chevron-up {
            cursor: pointer;
            &:hover,
            &.active {
                color: #36B96E;
            }
        }
        .fa-chevron-down {
            cursor: pointer;
            margin-top: 4px;
            &:hover,
            &.active {
                color: #B93641;
            }
        }
    }
    .content {
        position: relative;
        padding-left: 55px;
        .dropdown {
            float: right;
            cursor: pointer;
            .dropdown-toggle:after {
                display: none;
            }
        }
        .posted {
            margin-bottom: 10px;
            img {
                width: 18px;
                height: 18px;
                vertical-align: text-bottom;
            }
        }
        .user {
            color: #68e69e;
        }
        .badge {
            font-size: 16px;
            margin-right: 10px;
        }
    }
    .ql-editor {
        background: #353535;
        margin-top: 10px;
        margin-bottom: 15px;
        min-height: auto;
    }
}
