<script>
    $(function() {
        question = new em_question({{ question.question }});
        question.question_id = +'{{ question.question_id}}';
    });
</script>
<div class="em_question_ask">
    <div class="contents">
        <div style="padding: 25px 15px;">
            <h5 class="f700">Title</h5>
            <input type="text" id="title" class="title" placeholder="Title your question here" value="{{ question.title|e }}" />

            <h5 class="f700">Contents</h5>
            <div class="form-group">
                <div id="question"></div>
            </div>
            <button type="button" class="btn btn-md btn-success" onclick="question.{{ mode }}()">Save</button>
        </div>
    </div>
    <div style="width: 300px">
        <div style="padding: 25px 15px;">
            <h5 class="f700">How to ask a good question</h5>
            <p>
                1. Provide all the necessary information, code, or otherwise to help others help you.
            </p>
        </div>
    </div>
</div>
