[Unit]
Description=Elasticsearch 6.3.0

[Service]
Type=simple
User=elasticsearch
Environment=PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
WorkingDirectory=/opt/elasticsearch-6.3.0
LimitNOFILE=65536
LimitNPROC=4096
ExecStart=/opt/elasticsearch-6.3.0/start

[Install]
WantedBy=multi-user.target
