[Unit]
Description=Engineer Man Worker %i

[Service]
Type=simple
User=root
Environment=PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/root/node8/bin
WorkingDirectory=/opt/engineerman/platform/console
ExecStart=/opt/engineerman/platform/console/worker.js --consume
Restart=always

[Install]
WantedBy=multi-user.target
