{% extends 'master.twig'%}
{% block content %}
    <div class="em_main_board_outer">
        <div class="left" style="flex: 1;">
            {% if req.glob.user_id %}
                <a href="/questions/ask" class="btn btn-success btn-sm" style="float: right; color: #fff;">
                    Ask New Question
                </a>
            {% else %}
                <a onclick="login.open('/questions/ask')" class="btn btn-success btn-sm" style="float: right; color: #fff;">
                    Ask New Question
                </a>
            {% endif %}
            <h5 class="f700 marginbottom20">Newest Questions</h5>
            <div class="em_main_board">
                <div id="questions"></div>
                <script>
                    ReactDOM.render(React.createElement(BoardQuestions, {
                        questions: {{ questions|json_encode|noscript }}
                    }), document.getElementById('questions'));
                </script>
            </div>
        </div>
    </div>
{% endblock %}
