{% extends 'master.twig'%}
{% block content %}
    <div style="padding: 30px 20px 15px 15px;">
        <div style="float: right; width: 260px;">
            don't know what's gonna go here yetdon't know what's gonna go here yetdon't know what's gonna go here yet
            don't know what's gonna go here yetdon't know what's gonna go here yetdon't know what's gonna go here yet
        </div>
        <div style="position: relative; padding-right: 290px;">
            <div class="question">
                <div style="position: absolute; top: 0; left: 0; width: 40px; text-align: center;">
                    <i class="fa fa-chevron-up"></i>
                    <div class="f700">
                        123
                    </div>
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div style="position: relative; padding-left: 55px;">
                    <div style="margin-bottom: 10px;">
                        posted by
                        <span style="color: #68e69e">engineerman</span>
                        3 minutes ago
                    </div>
                    <h3 class="f700">What can I do to speed up my slow query?</h3>
                    <p>
                        Aenean ornare, odio vitae pretium mollis, orci nisl laoreet quam, a tempus velit dolor id justo. Donec et dolor pretium, sodales arcu vitae, eleifend dolor. Phasellus nec diam consequat, vehicula mi ac, auctor magna. Sed ultrices rhoncus nisi, ut dapibus est volutpat vel. Vestibulum cursus euismod orci eget posuere. Proin rhoncus vulputate ullamcorper. Maecenas a justo sed diam scelerisque commodo a in felis. Integer vestibulum non neque in congue. Morbi a pulvinar nisi. Integer ex lorem, mollis non urna nec, gravida porta purus. Nulla dignissim neque nisi, vestibulum lobortis magna pellentesque et. Mauris fermentum mauris efficitur justo lacinia, vel maximus diam maximus. Fusce lobortis vestibulum ligula vel volutpat. Fusce tempus quis diam a porta.
                    </p>
                    <span class="badge badge-success">node.js</span>
                    <span class="badge badge-success">mysql</span>
                    <span class="badge badge-success">concurrent-programming</span>
                </div>
            </div>
            <div class="input" style="padding-top: 30px; padding-left: 40px;">
                <textarea rows="6" placeholder="placeholder for typings" class="form-control" style="background: #383838;"></textarea>
            </div>

            <div class="comments" style="padding-top: 30px;">
                <div class="question" style="position: relative; padding-bottom: 30px;">
                    <div style="position: absolute; top: 15px; left: 6px; width: 40px; text-align: center; z-index: 1;">
                        <i class="fa fa-chevron-up"></i>
                        <div class="f700">
                            123
                        </div>
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <div style="position: relative; padding: 15px 10px 15px 55px; background: #313131;">
                        <div style="margin-bottom: 4px;">
                            <span style="color: #68e69e">engineerman</span>
                            3 minutes ago
                        </div>
                        <p style="margin-bottom: 4px;">
                            something shortersomething shortersomething shortersomething shortersomething shorter
                            something shortersomething shortersomething shortersomething shortersomething shorter
                            something shortersomething shortersomething shortersomething shortersomething shorter
                            something shortersomething shortersomething shortersomething shortersomething shorter
                        </p>
                        <a href="#">reply</a>
                    </div>
                    <div class="comments" style="padding-left: 40px; padding-top: 20px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
