{% extends 'master.twig'%}
{% block content %}
    <div style="display: flex; padding: 20px 15px;">
        <div style="flex: 1;">
            <div class="em_main_board">
                <div id="questions"></div>
                <script>
                    ReactDOM.render(React.createElement(BoardQuestions, {
                        questions: {{ questions|json_encode }}
                    }), document.getElementById('questions'));
                </script>
            </div>
        </div>
        <div style="width: 260px;">
            don't know what's gonna go here yetdon't know what's gonna go here yetdon't know what's gonna go here yet
            don't know what's gonna go here yetdon't know what's gonna go here yetdon't know what's gonna go here yet
        </div>
    </div>
{% endblock %}
