{% extends 'master.twig'%}
{% block content %}
    <div style="padding: 30px 20px 15px 15px;">
        <div style="float: right; width: 260px;">
            don't know what's gonna go here yetdon't know what's gonna go here yetdon't know what's gonna go here yet
            don't know what's gonna go here yetdon't know what's gonna go here yetdon't know what's gonna go here yet
        </div>
        <div style="position: relative; padding-right: 290px;">
            {% for question in questions %}
                <a href="{{ question.url }}">{{ question.url }}</a><br />
            {% endfor %}
        </div>
    </div>
{% endblock %}
