{% extends 'master.twig'%}
{% block content %}
    <div id="create_question"></div>
    <script>
        ReactDOM.render(
            React.createElement(ComposeQuestion, {
                mode: 'create'
            }),
            document.getElementById('create_question')
        );
    </script>
{% endblock %}
