{% extends 'master.twig'%}
{% block content %}
    <div id="create_question"></div>
    <script>
        ReactDOM.render(
            React.createElement(CreateQuestion, {
                mode: 'edit',
                question_id: {{ question.question_id }},
                title: {{ question.title|json_encode }},
                question: {{ question.question }}
            }),
            document.getElementById('create_question')
        );
    </script>
{% endblock %}
