module.exports = {

    port: 2727,
    environment: 'development',
    base_url: 'http://127.0.0.1:2727',
    db: {
        username: 'root',
        password: 'root',
        database: 'emkc',
        host: 'mysql',
        dialect: 'mysql',
        logging: false,
        timezone: '+00:00',
        define: {
            underscored: true,
            timestamps: false
        }
    },
    discord: {
        client_id: '496807648289882112',
        client_secret: 'IqJEUGdYR2UxHKrVmVTha__3aLhIC68l'
    },
    felix: {
        key: 'key'
    },
    gcp: {
        project_id: 'project_id'
    },
    mailgun: {
        key: 'key',
        domain: 'domain'
    },
    piston: {
        host: '127.0.0.1:2000',
        key: ''
    },
    elasticsearch: {
        host: '127.0.0.1'
    },
    dispenserd: {
        host: '127.0.0.1'
    },
    session: {
        host: 'redis',
        secret: '11111111111111111111111111111111'
    },
    sockets: {
        host: 'redis'
    }

};
