module.exports = {

    port: 2727,
    environment: 'development',
    base_url: '',
    db: {
        username: '',
        password: '',
        database: 'emkc',
        host: 'mysql',
        dialect: 'mysql',
        logging: false,
        timezone: '+00:00',
        define: {
            underscored: true,
            timestamps: false
        }
    },
    discord: {
        client_id: '',
        client_secret: ''
    },
    felix: {
        key: ''
    },
    gcp: {
        project_id: ''
    },
    mailgun: {
        key: '',
        domain: ''
    },
    elasticsearch: {
        host: '127.0.0.1'
    },
    dispenserd: {
        host: '127.0.0.1'
    },
    session: {
        host: 'redis',
        secret: '11111111111111111111111111111111'
    },
    sockets: {
        host: 'redis'
    }

};
