{% extends 'master.twig'%}
{% block content %}
    <div class="em_common_content em_contests_contest container">
        <div class="row">
            <div class="col-12">
                <div
                    id="react_contest_contest"
                    data-contest="{{ contest|json_encode|e }}"
                    data-submission="{{ submission|json_encode|e }}"
                ></div>
            </div>
        </div>
    </div>
{% endblock %}
