{% extends 'master.twig'%}
{% block content %}
    <div class="em_common_content em_contests_home container">
        <div class="row">
            <div class="col-12">
                <h4 class="f300">Contests</h4>

                <p>
                    The Engineer Man Knowledge Center hosts contests periodically which are done in a Code Golf format.
                    For those not familiar with Code Golf, it basically means that the winner of the contest is the person
                    who can accomplish the given objective with the lease amount of code, measured in characters.
                </p>

                <h5 class="f300">Global Rules</h5>

                <ol>
                    <li>
                        No sharing solutions during the contest period.
                    </li>
                    <li>
                        Contests start at 12:00am on the start date and end at 11:59pm on the end date and generally
                        run 7-14 days.
                    </li>
                    <li>
                        You can update your solution as many times as you want during the contest period.
                    </li>
                    <li>
                        Points are awarded to the shortest three solutions per language that meet the objective.
                    </li>
                    <li>
                        Submitted solutions must pass automated code execution before they are recorded as a contest submission.
                    </li>
                    <li>
                        Leading and trailing whitespace is automatically trimmed before calculating the number of characters used.
                    </li>
                </ol>

                <hr />

                <h4 class="f300">Active Contests</h4>

                <h4 class="f300">Past Contests</h4>
            </div>
        </div>
    </div>
{% endblock %}
